<h1>Welcome {{ email.toName }}!</h1>
<p>
    You invited to Admin-Base!
</p>
<p><code>{{ email.to[0].address }}</code></p>
<p>
    Your credentials:
</p>
<p><code>{{ username }}</code></p>
<p><code>{{ password }}</code></p>
<p>
    <a href="{{ link }}">Click here to login</a>
</p>